body{
    background: red;
}

h1{
    text-align: center;
}
h2{
    font-size: 2.2rem;
}
.block{

    height: 300px;
    width: 400px;
    border: 1px solid yellow;
    margin-top: 100px;
    background: yellowgreen;
    text-align: center;
}
.parent{
    justify-content: space-around;
    display: flex;
    height: 500px;
    border: 1px solid yellow;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    padding: 0 0 0 50px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
header{
    background: steelblue;
}